[infra]
vm-infra ansible_host=INFRA_PUBLIC_IP

[k8s_master]
vm-k8s-master ansible_host=K8S_MASTER_PUBLIC_IP

[k8s_workers]
vm-k8s-worker ansible_host=K8S_WORKER_PUBLIC_IP

[postgres]
vm-postgres ansible_host=POSTGRES_PUBLIC_IP

[monitoring]
vm-monitoring ansible_host=MONITORING_PUBLIC_IP

[k8s_cluster:children]
k8s_master
k8s_workers

[scaleway:children]
infra
k8s_master
k8s_workers
postgres
monitoring

[scaleway:vars]
ansible_user = root
ansible_python_interpreter = /usr/bin/python3
